
<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/Neebulo">Cris</a>. On a mission to create and collaborate in the tech industry.
  </p>
  <br />
  <p>
    His history includes eight years military in cybersecurity, sikorsky helicopters, electronics and experience in webhosting and some e-commerce subscription company.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Cristalin Solis</h2>
      <br />
      <p>
        Cristalin Solis is a military veteran with extensive experience in technology and security. He has worked in the east coast, west coast, and abroad delivering mission readiness to organizations by evaluating security posture and collecting data to be analyzed for actionable strategic planning. This is his website (<a target="_blank" href="https://cristalinsolis.com">My Portfolio</a>). Most recently, he has been working with webhosting. Helping others establish their presence in the internet and resolving their website hosting needs through his technical knowledge. Visit his github here if you find yourself curious <a target="_blank" href="https://github.com/Neebulo">GitHub</a>.
      </p>
    </div>
  </div>
  <br class="clear" />

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag 'cy.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Cyanide & Happiness</h2>
      <br />
      <p>
        This guy is just happy to be here. You can catch more cartoon strips here (<a target="_blank" href="http://explosm.net/">C & H</a>). If you find yourself inclined to read some Medium articles. Go here. <a target="_blank" href="https://medium.com/@CriSolis">MEDIUM</a>.
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />