
<div class="col-10 offset-1">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/Neebulo">Cris</a>. On a mission to create and collaborate in the tech industry.
  </p>
  <br />
  <p>
    His history includes eight years military in cybersecurity, sikorsky helicopters, electronics and experience in webhosting and some e-commerce subscription company.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

</div>